<div class="contacts" id="contacts">
  <div class="container">
    <div class="contacts__inner">
      <div class="contacts__item item__cotact">
        <h2 class="contacts__title">
          Контакты
        </h2>
        <p class="contacts__text">
          Вы можете связаться с нами любым удобным для Вас способом. Мы будем рады ответить на все Ваши вопросы.
        </p>
        <div class="contacts__work contacts__reservation">
          <span>Бронь столиков</span>
          <a href="tel:+74732575970">+7 (473) 257 59 70</a>
        </div>
        <div class="contacts__work contacts__timework">
          <span>Режим работы</span>
          <div class="contacts__time">08:00 — 22:00</div>
        </div>
        <div class="contacts__work contacts__social">
          <span>Мы в соцсетях</span>
          <a class="soc-link__inst" href="#" style="background-image: url(images/icons/insta-w.svg);"></a>
          <a class="soc-link__fb" href="#" style="background-image: url(images/icons/facebook-w.svg);"></a>
        </div>
      </div>
      <div class="contacts__item item-map">
        <div class="contacts__map" style="background-image: url(images/content/map.jpg);"></div>
      </div>
      <div class="contacts__item item__adress">
        <div class="contacts__adress">Наши адреса</div>
        <ul class="contacts__list">
          <li>ул. В. Невского, 59 г</li>
          <li>пр. Революции, 39</li>
          <li>ул. Комиссаржевской, 7</li>
          <li>ул. К. Маркса 92 а</li>
          <li>ул. Красноармейская, 17</li>
          <li>парк «Динамо»</li>
        </ul>
      </div>
    </div>
  </div>
</div>