<footer class='footer' id="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__item item__logo">
        <a class="footer__logo" href="#" style="background-image: url(images/icons/logo-w.png);"></a>
      </div>
      <div class="footer__item">
        <div class="footer__title">Меню</div>
        <ul class="footer__list">
          <li><a href="#about" class="footer__link" id="fl">О нас</a></li>
          <li><a href="#price" class="footer__link">Наш кофе</a></li>
          <li><a href="#promotions" class="footer__link">Акции</a></li>
          <li><a href="#contacts" class="footer__link">Контакты</a></li>
        </ul>
      </div>
      <div class="footer__item item__tel">
        <div class="footer__title footer__title-hide">Контакты</div>
        <div class="contacts__work contacts__reservation tell-footer">
          <a href="tel:+74732575970">+7 (473) 257 59 70</a>
        </div>
      </div>
      <div class="footer__item item__time">
        <div class="footer__title footer__title-hide">Режим работы</div>
        <div class="contacts__work contacts__timework">
          <div class="contacts__time">08:00 — 22:00</div>
        </div>
      </div>
      <div class="footer__item">
        <div class="footer__title footer__title-hide">Мы в соцсетях</div>
        <div class="footer__social">
          <a class="soc-link__inst" href="#" style="background-image: url(images/icons/insta-w.svg);"></a>
          <a class="soc-link__fb" href="#" style="background-image: url(images/icons/facebook-w.svg);"></a>
        </div>
      </div>
    </div>
      <form class="footer__form">
        <div class="footer__form-inner">
          <label class="footer__form-title">Свяжитесь с нами</label>
          <input class="footer_input" type="text" required placeholder="Имя">
          <input class="footer_input footer__tel-form" type="number" required placeholder="+7 ххх хх хх хх">
          <button type="submit" class="footer__btn">Отправить</button>
        </div>
        <input type="checkbox" class="footer__checkb"> <label class="footer__config"><span>Я соглашаюсь с</span> Правилами обработки персональных данных</label>
      </form>
      <div class="footer__inner-bottom">
        <span class="footer__item-prava">© 2020 все права защищены</span>
        <a class="footer__item-data" href="#">Правила обработки персональных данных</a>
        <a class="footer__item-confid" href="#">Политика конфиденциальности </a>
      </div>
  </div>
</footer>