<section class="price">
  <div class="container">
    <div class="price__title">Наш кофе</div>
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="price__slider-title">
            Цитрус раф с карамелью
          </div>
          <div class="price__slider-text">
            Карамельный сироп, Сок красного апельсина, Эспрессо
          </div>
          <div class="price__slider-drink">
  
            <div class="drink__image" style="background-image: url(../images/icons/drink1.png);"></div>
            <div class="drink__price">
              250 мл <span>90 р</span>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="price__slider-title">
            Перфетто айс гляссе
          </div>
          <div class="price__slider-text">
            Взбитые сливки, Пломбир,Эспрессо
          </div>
          <div class="price__slider-drink">
            <div class="drink__image"style="background-image: url(../images/icons/drink2.png);"></div>
            <div class="drink__price">
              200 мл <span>95 р</span>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="price__slider-title">
            Кофейно-ореховый трюфель
          </div>
          <div class="price__slider-text">
            Молотый фундук, Взбитые сливки,
            Какао на молоке, Эспрессо
          </div>
          <div class="price__slider-drink">
            <div class="drink__image"style="background-image: url(../images/icons/drink3.png);"></div>
            <div class="drink__price">
              200 мл <span>70 р</span>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="price__slider-title">
            Латте соленая
            карамель
          </div>
          <div class="price__slider-text">
            Соленая карамель, Взбитое молоко,
            Эспрессо
          </div>
          <div class="price__slider-drink">
            <div class="drink__image"style="background-image: url(../images/icons/drink4.png);"></div>
            <div class="drink__price">
              250 мл <span>80 р</span>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="price__slider-title">
            Цитрус раф с карамелью
          </div>
          <div class="price__slider-text">
            Карамельный сироп, Сок красного апельсина, Эспрессо
          </div>
          <div class="price__slider-drink">
            <div class="drink__image"style="background-image: url(../images/icons/drink1.png);"></div>
            <div class="drink__price">
              250 мл <span>90 р</span>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="price__slider-title">
            Цитрус раф с карамелью
          </div>
          <div class="price__slider-text">
            Карамельный сироп, Сок красного апельсина, Эспрессо
          </div>
          <div class="price__slider-drink">
            <div class="drink__image"style="background-image: url(../images/icons/drink2.png);"></div>
            <div class="drink__price">
              250 мл <span>90 р</span>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="price__slider-title">
            Цитрус раф с карамелью
          </div>
          <div class="price__slider-text">
            Карамельный сироп, Сок красного апельсина, Эспрессо
          </div>
          <div class="price__slider-drink">
            <div class="drink__image"style="background-image: url(../images/icons/drink3.png);"></div>
            <div class="drink__price">
              250 мл <span>90 р</span>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="price__slider-title">
            Цитрус раф с карамелью
          </div>
          <div class="price__slider-text">
            Карамельный сироп, Сок красного апельсина, Эспрессо
          </div>
          <div class="price__slider-drink">
            <div class="drink__image"style="background-image: url(../images/icons/drink4.png);"></div>
            <div class="drink__price">
              250 мл <span>90 р</span>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="price__slider-title">
            Цитрус раф с карамелью
          </div>
          <div class="price__slider-text">
            Карамельный сироп, Сок красного апельсина, Эспрессо
          </div>
          <div class="price__slider-drink">
            <div class="drink__image"style="background-image: url(../images/icons/drink1.png);"></div>
            <div class="drink__price">
              250 мл <span>90 р</span>
            </div>
          </div>
        </div>

      </div>
      <!-- Add Pagination -->
      <div class="swiper-pagination"></div>
      <!-- Add Arrows -->
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </div>
</section>