<section class="price" id="price">
  <div class="container">
    <div class="price__title">Наш кофе</div>

    <div class="price__slider">

      <div class="price__slide  slide-1">
        <div class="price__slide-wrap">
          <div class="price__slide-title">Цитрус раф
            с карамелью
          </div>
          <p class="price__slide-text">
            Карамельный сироп, Сок красного апельсина, Эспрессо
          </p>
          <div class="price__slide-inner">
            <div class="price__slide-item slide__item-1">
              <div class="price__slide-img" style="background-image: url(images/icons/drink1.png);"></div>
            </div>
            <div class="price__slide-item">
              <div class="price__slide-ml">
                250 мл
              </div>
              <div class="price__slide-mony">
                90 р.
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="price__slide  slide-2">
        <div class="price__slide-wrap">
          <div class="price__slide-title">Перфетто айс
            гляссе
          </div>
          <p class="price__slide-text">
            Взбитые сливки, Пломбир,
            Эспрессо
          </p>
          <div class="price__slide-inner">
            <div class="price__slide-item slide__item-1">
              <div class="price__slide-img" style="background-image: url(images/icons/drink2.png);"></div>
            </div>
            <div class="price__slide-item">
              <div class="price__slide-ml">
                200 мл
              </div>
              <div class="price__slide-mony">
                95 р.
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="price__slide slide-3">
        <div class="price__slide-wrap">

          <div class="price__slide-title">Кофейно-ореховый
            трюфель
          </div>
          <p class="price__slide-text">
            Молотый фундук, Взбитые сливки,
            Какао на молоке, Эспрессо
          </p>
          <div class="price__slide-inner">
            <div class="price__slide-item slide__item-1">
              <div class="price__slide-img" style="background-image: url(images/icons/drink3.png);"></div>
            </div>
            <div class="price__slide-item">
              <div class="price__slide-ml">
                200 мл
              </div>
              <div class="price__slide-mony">
                70 р.
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="price__slide  slide-4">
        <div class="price__slide-wrap">

          <div class="price__slide-title">Латте соленая
            карамель
          </div>
          <p class="price__slide-text">
            Соленая карамель, Взбитое молоко,
            Эспрессо
          </p>
          <div class="price__slide-inner">
            <div class="price__slide-item slide__item-1">
              <div class="price__slide-img" style="background-image: url(images/icons/drink4.png);"></div>
            </div>
            <div class="price__slide-item">
              <div class="price__slide-ml">
                250 мл
              </div>
              <div class="price__slide-mony">
                80 р.
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="price__slide  slide-1">
        <div class="price__slide-wrap">

          <div class="price__slide-title">Цитрус раф
            с карамелью
          </div>
          <p class="price__slide-text">
            Карамельный сироп, Сок красного апельсина, Эспрессо
          </p>
          <div class="price__slide-inner">
            <div class="price__slide-item slide__item-1">
              <div class="price__slide-img" style="background-image: url(images/icons/drink1.png);"></div>
            </div>
            <div class="price__slide-item">
              <div class="price__slide-ml">
                250 мл
              </div>
              <div class="price__slide-mony">
                90 р.
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="price__slide  slide-2">
        <div class="price__slide-wrap">

          <div class="price__slide-title">Перфетто айс
            гляссе
          </div>
          <p class="price__slide-text">
            Взбитые сливки, Пломбир,
            Эспрессо
          </p>
          <div class="price__slide-inner">
            <div class="price__slide-item slide__item-1">
              <div class="price__slide-img" style="background-image: url(images/icons/drink2.png);"></div>
            </div>
            <div class="price__slide-item">
              <div class="price__slide-ml">
                200 мл
              </div>
              <div class="price__slide-mony">
                95 р.
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="price__slide slide-3">
        <div class="price__slide-wrap">

          <div class="price__slide-title">Кофейно-ореховый
            трюфель
          </div>
          <p class="price__slide-text">
            Молотый фундук, Взбитые сливки,
            Какао на молоке, Эспрессо
          </p>
          <div class="price__slide-inner">
            <div class="price__slide-item slide__item-1">
              <div class="price__slide-img" style="background-image: url(images/icons/drink3.png);"></div>
            </div>
            <div class="price__slide-item">
              <div class="price__slide-ml">
                200 мл
              </div>
              <div class="price__slide-mony">
                70 р.
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="price__slide  slide-4">
        <div class="price__slide-wrap">

          <div class="price__slide-title">Латте соленая
            карамель
          </div>
          <p class="price__slide-text">
            Соленая карамель, Взбитое молоко,
            Эспрессо
          </p>
          <div class="price__slide-inner">
            <div class="price__slide-item slide__item-1">
              <div class="price__slide-img" style="background-image: url(images/icons/drink4.png);">
              </div>
            </div>
            <div class="price__slide-item">
              <div class="price__slide-ml">
                250 мл
              </div>
              <div class="price__slide-mony">
                80 р.
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="price__slide  slide-1">
        <div class="price__slide-wrap">

          <div class="price__slide-title">Цитрус раф
            с карамелью
          </div>
          <p class="price__slide-text">
            Карамельный сироп, Сок красного апельсина, Эспрессо
          </p>
          <div class="price__slide-inner">
            <div class="price__slide-item slide__item-1">
              <div class="price__slide-img" style="background-image: url(images/icons/drink1.png);">
              </div>
            </div>
            <div class="price__slide-item">
              <div class="price__slide-ml">
                250 мл
              </div>
              <div class="price__slide-mony">
                90 р.
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="current">

      <span class="num-zer">0</span><span class="num__active"> 1</span><span class="line"></span> <span
        class="num__as">06</span>

    </div>

  </div>
</section>