<section class="promotions" id="promotions">
  <div class="container">
    <h2 class="promotions__title">Акции</h2>
    <div class="desc__item-offer">Предложения действуют до 20.02.2020</div>
    <div class="promotions__wrap">
      <div class="current">

        <span class="num-zer">0</span><span class="promotions-num__active"> 1</span><span class="line"></span> <span
          class="num__as">06</span>

      </div>
    </div>
    <div class="promotions__item item__slider-prom">
      <div class="slider__promotion">

        <div class="promotion__box">
          <div class="slider-desc">
            <div class="desc__item-title">Айриш-кофе <span>150 мл</span> </div>
            <div class="desc__item-mony header__stock-desc__price">70 р</div>
            <p class="desc__item-text">
              <span>Состав:</span> Горячий эспрессо, ирландский виски, сахар,
              взбитые сливки
            </p>
            <a href="#" class="desc__item-link header__info-link">Найти ближайшую кофейню</a>
          </div>
          <div class="slide__promotion-img" style="background-image: url(../images/content/slide-promotion1.png);">

          </div>
        </div>

        <div class="promotion__box">
          <div class="slider-desc">
            <div class="desc__item-title">Айриш-кофе <span>150 мл</span> </div>
            <div class="desc__item-mony header__stock-desc__price">70 р</div>
            <p class="desc__item-text">
              <span>Состав:</span> Горячий эспрессо, ирландский виски, сахар,
              взбитые сливки
            </p>
            <a href="#" class="desc__item-link header__info-link">Найти ближайшую кофейню</a>
          </div>
          <div class="slide__promotion-img" style="background-image: url(../images/content/slide-promotion2.png);">

          </div>
        </div>

        <div class="promotion__box">
          <div class="slider-desc">
            <div class="desc__item-title">Айриш-кофе <span>150 мл</span> </div>
            <div class="desc__item-mony header__stock-desc__price">70 р</div>
            <p class="desc__item-text">
              <span>Состав:</span> Горячий эспрессо, ирландский виски, сахар,
              взбитые сливки
            </p>
            <a href="#" class="desc__item-link header__info-link">Найти ближайшую кофейню</a>
          </div>
          <div class="slide__promotion-img" style="background-image: url(../images/content/slide-promotion3.png);">

          </div>
        </div>

        <div class="promotion__box">
          <div class="slider-desc">
            <div class="desc__item-title">Айриш-кофе <span>150 мл</span> </div>
            <div class="desc__item-mony header__stock-desc__price">70 р</div>
            <p class="desc__item-text">
              <span>Состав:</span> Горячий эспрессо, ирландский виски, сахар,
              взбитые сливки
            </p>
            <a href="#" class="desc__item-link header__info-link">Найти ближайшую кофейню</a>
          </div>
          <div class="slide__promotion-img" style="background-image: url(../images/content/slide-promotion4.png);">

          </div>
        </div>

        <div class="promotion__box">
          <div class="slider-desc">
            <div class="desc__item-title">Айриш-кофе <span>150 мл</span> </div>
            <div class="desc__item-mony header__stock-desc__price">70 р</div>
            <p class="desc__item-text">
              <span>Состав:</span> Горячий эспрессо, ирландский виски, сахар,
              взбитые сливки
            </p>
            <a href="#" class="desc__item-link header__info-link">Найти ближайшую кофейню</a>
          </div>
          <div class="slide__promotion-img" style="background-image: url(../images/content/slide-promotion1.png);">

          </div>
        </div>

        <div class="promotion__box">
          <div class="slider-desc">
            <div class="desc__item-title">Айриш-кофе <span>150 мл</span> </div>
            <div class="desc__item-mony header__stock-desc__price">70 р</div>
            <p class="desc__item-text">
              <span>Состав:</span> Горячий эспрессо, ирландский виски, сахар,
              взбитые сливки
            </p>
            <a href="#" class="desc__item-link header__info-link">Найти ближайшую кофейню</a>
          </div>
          <div class="slide__promotion-img" style="background-image: url(../images/content/slide-promotion2.png);">

          </div>
        </div>



      </div>
      <div class="slider__thumbs">
        <div class="slide__thumbs">
          <div class="slide-box">
            <div class="slide__thumbs-img" style="background-image: url(../images/content/slide-promotion1.png);">
            </div>
            <div class="slide__thumbs-desc">
              <div class="slide__thumbs-title">Латте с сиропом</div>
              <div class="slide__thumbs-wrap">
                <div class="slide__thumbs-ml">330 мл</div>
                <div class="slide__thumbs-mony">100 p.</div>
              </div>
              <p class="slide__thumbs-text">
                <span>Состав:</span>
                Горячий эспрессо, ирландский виски,
                сахар, взбитые сливки
              </p>
            </div>
          </div>
        </div>

        <div class="slide__thumbs">
          <div class="slide-box">
            <div class="slide__thumbs-img" style="background-image: url(../images/content/slide-promotion2.png);">
            </div>
            <div class="slide__thumbs-desc">
              <div class="slide__thumbs-title">Латте с сиропом</div>
              <div class="slide__thumbs-wrap">
                <div class="slide__thumbs-ml">330 мл</div>
                <div class="slide__thumbs-mony">100 p.</div>
              </div>
              <p class="slide__thumbs-text">
                <span>Состав:</span>
                Горячий эспрессо, ирландский виски,
                сахар, взбитые сливки
              </p>
            </div>
          </div>
        </div>

        <div class="slide__thumbs">
          <div class="slide-box">
            <div class="slide__thumbs-img" style="background-image: url(../images/content/slide-promotion3.png);">
            </div>
            <div class="slide__thumbs-desc">
              <div class="slide__thumbs-title">Латте с сиропом</div>
              <div class="slide__thumbs-wrap">
                <div class="slide__thumbs-ml">330 мл</div>
                <div class="slide__thumbs-mony">100 p.</div>
              </div>
              <p class="slide__thumbs-text">
                <span>Состав:</span>
                Горячий эспрессо, ирландский виски,
                сахар, взбитые сливки
              </p>
            </div>
          </div>
        </div>

        <div class="slide__thumbs">
          <div class="slide-box">
            <div class="slide__thumbs-img" style="background-image: url(../images/content/slide-promotion4.png);">
            </div>
            <div class="slide__thumbs-desc">
              <div class="slide__thumbs-title">Латте с сиропом</div>
              <div class="slide__thumbs-wrap">
                <div class="slide__thumbs-ml">330 мл</div>
                <div class="slide__thumbs-mony">100 p.</div>
              </div>
              <p class="slide__thumbs-text">
                <span>Состав:</span>
                Горячий эспрессо, ирландский виски,
                сахар, взбитые сливки
              </p>
            </div>
          </div>
        </div>

        <div class="slide__thumbs">
          <div class="slide-box">
            <div class="slide__thumbs-img" style="background-image: url(../images/content/slide-promotion1.png);">
            </div>
            <div class="slide__thumbs-desc">
              <div class="slide__thumbs-title">Латте с сиропом</div>
              <div class="slide__thumbs-wrap">
                <div class="slide__thumbs-ml">330 мл</div>
                <div class="slide__thumbs-mony">100 p.</div>
              </div>
              <p class="slide__thumbs-text">
                <span>Состав:</span>
                Горячий эспрессо, ирландский виски,
                сахар, взбитые сливки
              </p>
            </div>
          </div>
        </div>

        <div class="slide__thumbs">
          <div class="slide-box">
            <div class="slide__thumbs-img" style="background-image: url(../images/content/slide-promotion2.png);">
            </div>
            <div class="slide__thumbs-desc">
              <div class="slide__thumbs-title">Латте с сиропом</div>
              <div class="slide__thumbs-wrap">
                <div class="slide__thumbs-ml">330 мл</div>
                <div class="slide__thumbs-mony">100 p.</div>
              </div>
              <p class="slide__thumbs-text">
                <span>Состав:</span>
                Горячий эспрессо, ирландский виски,
                сахар, взбитые сливки
              </p>
            </div>
          </div>
        </div>

        <div class="slide__thumbs">
          <div class="slide-box">
            <div class="slide__thumbs-img" style="background-image: url(../images/content/slide-promotion3.png);">
            </div>
            <div class="slide__thumbs-desc">
              <div class="slide__thumbs-title">Латте с сиропом</div>
              <div class="slide__thumbs-wrap">
                <div class="slide__thumbs-ml">330 мл</div>
                <div class="slide__thumbs-mony">100 p.</div>
              </div>
              <p class="slide__thumbs-text">
                <span>Состав:</span>
                Горячий эспрессо, ирландский виски,
                сахар, взбитые сливки
              </p>
            </div>
          </div>
        </div>

        <div class="slide__thumbs">
          <div class="slide-box">
            <div class="slide__thumbs-img" style="background-image: url(../images/content/slide-promotion4.png);">
            </div>
            <div class="slide__thumbs-desc">
              <div class="slide__thumbs-title">Латте с сиропом</div>
              <div class="slide__thumbs-wrap">
                <div class="slide__thumbs-ml">330 мл</div>
                <div class="slide__thumbs-mony">100 p.</div>
              </div>
              <p class="slide__thumbs-text">
                <span>Состав:</span>
                Горячий эспрессо, ирландский виски,
                сахар, взбитые сливки
              </p>
            </div>
          </div>
        </div>

        <div class="slide__thumbs">
          <div class="slide-box">
            <div class="slide__thumbs-img" style="background-image: url(../images/content/slide-promotion1.png);">
            </div>
            <div class="slide__thumbs-desc">
              <div class="slide__thumbs-title">Латте с сиропом</div>
              <div class="slide__thumbs-wrap">
                <div class="slide__thumbs-ml">330 мл</div>
                <div class="slide__thumbs-mony">100 p.</div>
              </div>
              <p class="slide__thumbs-text">
                <span>Состав:</span>
                Горячий эспрессо, ирландский виски,
                сахар, взбитые сливки
              </p>
            </div>
          </div>
        </div>

        <div class="slide__thumbs">
          <div class="slide-box">
            <div class="slide__thumbs-img" style="background-image: url(../images/content/slide-promotion2.png);">
            </div>
            <div class="slide__thumbs-desc">
              <div class="slide__thumbs-title">Латте с сиропом</div>
              <div class="slide__thumbs-wrap">
                <div class="slide__thumbs-ml">330 мл</div>
                <div class="slide__thumbs-mony">100 p.</div>
              </div>
              <p class="slide__thumbs-text">
                <span>Состав:</span>
                Горячий эспрессо, ирландский виски,
                сахар, взбитые сливки
              </p>
            </div>
          </div>
        </div>



      </div>
    </div>
  </div>
</section>