@import 'vars';
@import 'fonts';
@import 'global';

// start header
.header {
  background-color: #FFFEFA;
  min-height: 988px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  // max-width: 900px;
}

.header__image {
  background-image: url(../images/content/image1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 553px;
  min-height: 915px;
  height: 100%;
  width: 100%;
}

.header__top-menu {
  margin-top: 78px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__menu {
  display: none;
}

.header__menu-btn {
  background-image: url(../images/icons/Burger.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 30px;
  min-height: 18px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  margin-right: 50px;
}

.header__location {
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #908785;
  padding-left: 35px;
  position: relative;
  margin-right: -90px;

  &::before {
    content: '';
    position: absolute;
    background-image: url(../images/icons/wayn-logo2.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    top: 0;
    left: 0;
  }
}

.header__social {
  display: flex;
  justify-content: space-between;
  max-width: 68px;
  min-height: 26px;
  width: 100%;
  height: 100%;

  a {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
  }
}

.header__logo {
  background-image: url(../images/Logo.png);

  max-width: 115px;
  min-height: 40px;
  height: 100%;
  width: 100%;
}

.header__bottom {
  display: flex;
  justify-content: space-between;
}

.header__info-title {
  max-width: 510px;
  width: 100%;
  font-family: 'Noto Serif SC', serif;
  font-weight: 700;
  font-size: 80px;
  line-height: 112px;
  color: #22110F;
  margin-bottom: 70px;
}

.header__info-text {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 31px;
  color: #22110F;
  opacity: 0.5;
  margin-bottom: 100px;
  width: 100%;
}

.header__info-link {
  color: #fff;
  background-color: #CB1211;
  padding: 25px 30px;
  padding-right: 102px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    background-image: url(../images/icons/Arrow.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 38px;
    min-height: 4px;
    width: 100%;
    height: 100%;
    right: 30px;
    top: 5px;
  }
}

.header__stock {
  max-width: 453px;
  width: 100%;
  margin-left: 80px;
}

.header__stock-title {
  font-family: 'Noto Serif SC', serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 42px;
  color: #22110F;
  position: relative;
  margin-bottom: 53px;
  display: block;

  &::after {
    content: '';
    position: absolute;
    background-image: url(../images/icons/Vector.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    left: -2px;
    bottom: -24px;
    max-width: 165px;
    min-height: 12px;
    width: 100%;
    height: 100%;
  }
}

.header__stock-image {
  background-image: url(../images/content/Mask-Group.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 390px;
  min-height: 449px;
  margin-bottom: 35px;
}

.header__stock-desc {
  display: flex;
  justify-content: space-between;
  max-width: 390px;
  margin-bottom: 7px;
}

.header__stock-desc__title {
  font-family: 'Noto Serif SC', serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 38px;
  color: #22110F;

  span {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #000;
    opacity: 0.5;
    display: block;
  }
}

.header__stock-desc__price {
  font-family: 'Noto Serif SC', serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 38px;
  color: #CB1211;
  position: relative;

  &::before {
    content: '';
    background-image: url(../images/icons/Vector2.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    max-width: 66px;
    min-height: 12px;
    width: 100%;
    height: 100%;
    bottom: -5px;
    left: -2px;
  }
}

.header__stock-link {
  font-family: 'Noto Serif SC', serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  position: relative;
  color: #CB1211;
  max-width: 140px;
  display: block;

  &::after {
    content: '';
    background-image: url(../images/icons/Arrow2.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    max-width: 38px;
    min-height: 4px;
    width: 100%;
    height: 100%;
    bottom: -5px;
    right: 0px;
  }
}


// end header
// start about
.about {
  background-color: #220603;
  min-height: 983px;
  color: #FFFEFA;
  padding: 100px 0 100px;
}

.about__inner {
  display: flex;
  justify-content: space-between;
}

.item__image {
  max-width: 598px;
  width: 100%;
  position: relative;
}

.about__item-img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 598px;
  // min-height: 568px;
  // height: 100%;
  width: 100%;
  height: 568px;
  // width: 598px;
  // position: relative;
  z-index: 2;
  position: absolute;
}

.dicor__vector {
  position: absolute;
  background-image: url(../images/icons/Vector3.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  max-width: 408px;
  min-height: 266px;
  height: 100%;
  width: 100%;
  top: -373px;
  right: -76px;
  z-index: 1;
}

.about__item-box {
  margin-bottom: 78px;
  max-width: 290px;
}

.about__title {
  margin-bottom: 70px;
  font-family: 'Noto Serif SC', serif;
  font-weight: 700;
  font-size: 66px;
  line-height: 95px;
}

.item__numbers {
  align-self: center;
}

.about__item-desc {
  max-width: 493px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 31px;
  margin-bottom: 78px;

  span {
    color: #CB1211;
  }
}

.about__item-title {
  margin-bottom: 10px;
  font-family: 'Noto Serif SC', serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;

}

.about__item-text {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 170%;
  opacity: 0.6;
}

.about__item-box2 {
  margin-bottom: 43px;
}

.about__item-nuber {
  font-family: 'Noto Serif SC', serif;
  font-weight: 700;
  font-size: 70px;
  line-height: 101px;
  color: #FFFFFF;
}

// end about
// start price
.price {
  padding-bottom: 145px;
  padding-top: 100px;
}

.price__title {
  margin-bottom: 78px;
  font-family: 'Noto Serif SC', serif;
  font-weight: 700;
  font-size: 66px;
  line-height: 95px;
  color: #22110F;
  margin-left: 35px;
}

.price__slider-title {
  font-family: 'Noto Serif SC', serif;
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  color: #CB1211;
  max-width: 251px;
  margin-bottom: -20px;
}

.price__slider-text {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  color: #22110F;
  opacity: 0.5;
  max-width: 300px;
  margin-bottom: -38px;
}

.price__slider-drink {
  display: flex;
  justify-content: space-between;
  // align-self: ;
  max-width: 121px;
  align-items: center;
}

.drink__image {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  max-width: 51px;
  min-height: 81px;
  height: 100%;
  width: 100%;
}

.drink__price {
  span {
    display: block;
  }
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  left: 595px;
  right: auto;
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  right: 595px;
  left: auto;
}

.swiper-button-next,
.swiper-button-prev {
  top: 371px;
  width: 60px;
}

.swiper-button-prev::before,
.swiper-button-next::before {
  content: '';
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  max-width: 60px;
  min-height: 5px;
  width: 100%;
  height: 100%;
}

.swiper-button-next::before {
  background-image: url(../images/icons/Arrow-slide2.svg);
}

.swiper-button-prev::before {
  background-image: url(../images/icons/Arrow-slide.svg);

}

.swiper-button-next:after,
.swiper-button-prev:after {
  display: none;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 0.5;
}

.swiper-pagination {
  bottom: -6px;

  .swiper-pagination-current {
    font-family: 'Noto Serif SC', serif;
    font-weight: 600;
    font-size: 38px;
    line-height: 46px;
    color: #CB1211;
    margin-right: 10px;
    &::before{
      content:'0';
    }
  }

  .swiper-pagination-total {
    font-family: 'Noto Serif SC', serif;
    font-weight: 600;
    font-size: 22px;
    color: #CB1211;
    opacity: 0.3;
    margin-left: 54px;
    &::before{
      content:'0';
    }
  }
}
.fraction-of-slide{
  position:relative;
  &::after{
    content:"";
    position:absolute;
    bottom: 10px;
    width: 40px;
    height: 2px;
    background-color: #CB1211;
    opacity: .3;
  }
}
// end price

@import 'media';