<section class="about" id="particles-js">
  <div class="container">
    <div class="about__title">О нас</div>
    <div class="about__inner">
      <div class="about__item">
        <div class="about__item-desc">
          <span>Perfetto Caffe</span> не просто кофейня — это место, где царит атмосфера тепла и уюта.
        </div>
        <div class="about__item-box">
          <div class="about__item-title">
            Качественное зерно
          </div>
          <div class="about__item-text">
            Свежеобжаренное «specialty» зерно
            от профессиональных обжарщиков
          </div>
        </div>

        <div class="about__item-box">
          <div class="about__item-title">
            Профессиональные бариста
          </div>
          <div class="about__item-text">
            Бариста проходят обязательное
            обучение по мировым стандартам
          </div>
        </div>

        <div class="about__item-box">
          <div class="about__item-title">
            Pet-friendly
          </div>
          <div class="about__item-text">
            В нашей кофейне мы всегда рады видеть ваших четвероногих друзей
          </div>
        </div>

      </div>
      <div class="about__item item__image">
        <div class="about__item-img" style="background-image: url(images/content/image2.jpg);"></div>
        <div class="dicor__vector"></div>
      </div>
      <div class="about__item item__numbers">
        <div class="about__item-box2">
          <div class="about__item-nuber">2013</div>
          <div class="about__item-text">год открытия первой кофейни</div>
        </div>
        <div class="about__item-box2">
          <div class="about__item-nuber">6</div>
          <div class="about__item-text">открытых кофеен в Воронеже</div>
        </div>
        <div class="about__item-box2">
          <div class="about__item-nuber">30</div>
          <div class="about__item-text">кофейных напитков в меню на любой вкус</div>
        </div>
      </div>
    </div>
  </div>
</section>