<header class="header" >
  <div class="slide__menu">
    <div class="slide__menu-btn">
      <div class="slide__btn-line"></div>
      <div class="slide__btn-line"></div>
    </div>
    <div class="menu__slide-wrap">
      <ul class="slide__menu-list">
        <li><a href="#about">О нас</a></li>
        <li><a href="#price">Наш кофе</a></li>
        <li><a href="#promotions">Акции</a></li>
        <li><a href="#services">Услуги</a></li>
        <li><a href="#contacts">Контакты</a></li>
      </ul>
      <div class="slide__menu-data">
        <div class="slide__menu__adress">Воронеж, ул. Невского, 52 г</div>
        <a class="slide__menu_tell" href="tel:+74732575970">+7 (473) 257 59 70</a>
        <div class="footer__social">
          <a class="soc-link__inst" href="#" style="background-image: url(images/icons/insta-w.svg);"></a>
          <a class="soc-link__fb" href="#" style="background-image: url(images/icons/facebook-w.svg);"></a>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="header__inner">
      <div class="header__image"></div>
      <div class="header__item">
        <div class="header__top-menu">
          <div class="header__menu-btn">
            <div class="header__btn-line"></div>
            <div class="header__btn-line"></div>
            <div class="header__btn-line"></div>
          </div>
          <nav class="header__menu">
            <ul class="header__list">
              <li><a href="#">О нас</a></li>
              <li><a href="#">Наш кофе</a></li>
              <li><a href="#">Акции</a></li>
              <li><a href="#">Услуги</a></li>
              <li><a href="#">Контакты</a></li>
            </ul>
            <div class="menu__data">
              <div class="data-location">Воронеж, ул. Невского, 52 г</div>
              <a href="#" class="data-phone">+7 (473) 257 59 70</a>
            </div>
          </nav>
          <div class="header__location">Воронеж, ул. Невского, 52 г</div>
          <div class="header__social">
            <a href="#" style="background-image: url(images/icons/insta.svg);     max-width: 25px;
            min-height: 25px;"></a>
            <a href="#" style="background-image: url(images/icons/facebook.svg);     max-width: 23px;
            min-height: 26px;"></a>
          </div>
          <a href="#" class="header__logo"></a>
        </div>
        <div class="header__bottom">
          <div class="header__info">
            <div class="header__info-title">
              Больше,<br> чем просто кофе
            </div>
            <p class="header__info-text">
              В наших кофейнях всегда можно прийти не только за вкусным кофе, но и за теплой атмосферой, приятным
              дизайном, питательными напитками и свежими сэндвичами!
            </p>
            <a href="#" class="header__info-link">
              Найти ближайшую кофейню
            </a>
          </div>
          <div class="header__stock">
            <a href="#" class="header__stock-title">Акция</a>
            <div class="header__stock-wrap">
              <div class="header__stock-image"></div>
              <div class="stock-wrap__item">
                <div class="header__stock-desc">
                  <div class="header__stock-desc__title">
                    Айриш-кофе <span>150 мл</span>
                  </div>
                  <div class="header__stock-desc__price">70 р.</div>
                </div>
                <a href="#" class="header__stock-link">Подробнее</a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</header>