<div class="services" id="services">
  <div class="container">
    <h2 class="services__title">Услуги</h2>
    <div class="services__inner">
      <div class="services__item">
        <div class="services__img" style="background-image: url(images/content/services-1.jpg);"></div>
        <div class="services__item-title">Интернет-магазин</div>
        <p class="services__text">
          Вы можете приобрести кофейное оборудования и кофе ведущих мировых производителей с дегустационным залом и
          собственым официальным сервисным центром.
        </p>
        <a href="#" class="services__link">Перейти в интернет-магазин</a>
      </div>
      <div class="services__item">
        <div class="services__img" style="background-image: url(images/content/services-2.jpg);"></div>
        <div class="services__item-title">Обучение</div>
        <p class="services__text">
          После прохождения наших курсов вы будете уверенно разбираться в приготовлении всех видов кофейных напитков и
          полностью готовы для работы бариста.
        </p>
        <a href="#" class="services__link">Перейти на сайт школы бариста</a>
      </div>
      <div class="services__item">
        <div class="services__img" style="background-image: url(images/content/services-3.jpg);"></div>
        <div class="services__item-title">Каппинги</div>
        <p class="services__text">
          Мы регулярно проводим каппинги для любителей
          и профессионалов. На дегустации определяем вкусовые характеристики кофе, аромат и внешний вид зерен.
        </p>
        <a href="#" class="services__link">Узнать подробнее о каппингах</a>
      </div>
    </div>
  </div>
</div>